body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: whitesmoke;
    background-image: url("./image/pexels-kindel-media-8566521.jpg");
}

h1 {
    color: black;
}

p {
    color: black;
    text-align: justify;
}


.aheader {
    font-size: 10px;
    background-color: white;
    text-align: center;
}

.aheader h1 {
    color: rgb(4, 248, 138);
}

.aheader p {
    color: rgb(239, 17, 17);
    font-style: italic;
}

* {
    box-sizing: border-box;
}

/* Style inputs */
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .column,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
