body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: whitesmoke;
    background-image: url("./image/pexels-kindel-media-8566521.jpg");
}
h1 {
    color: black;
}
p {
    color: black;
    text-align: justify;
}


.aheader {
    font-size: 10px;
    background-color: white;
    text-align: center;
}

.aheader h1 {
    color: rgb(4, 248, 138);
}

.aheader p {
    color: rgb(239, 17, 17);
    font-style: italic;
}

* {
    box-sizing: border-box
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}

.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

.cancelbtn,
.signupbtn {
    float: left;
    width: 50%;
    text-decoration: none;
}

.container {
    padding: 16px;
    background-color: wheat;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 300px) {

    .cancelbtn,
    .signupbtn {
        width: 100%;
    }
}



form {
    border: 3px solid #f1f1f1;
}
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
    opacity: 0.8;
}
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}
img.avatar {
    width: 40%;
    border-radius: 50%;
}
.container {
    padding: 16px;
}
span.psw {
    float: right;
    background-color: #f1f1f1;
    padding-top: 16px;
}
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}








#highlighted {
    position: relative;
    background-color: #3cdc14;
}
#highlighted .container-fluid h1,
#highlighted .container-fluid p {
    color: #fff;
}
#highlighted .container-fluid h1 {
    font-size: 54px;
    font-family: Verlag, museo-sans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #414141;
    font-weight: 300;
}
#content {
    background-position: right bottom;
    background-repeat: no-repeat;
}
.interior-page {
    background-color: #FFF;
    padding-bottom: 30px;
}
#highlighted+#content.interior-page .interior-page-nav {
    margin-top: -4em;
}
#highlighted+#content.interior-page .interior-page-nav,
.interior-page .interior-page-nav {
    padding-left: 0;
}
.sidebar {
    margin-top: 2em;
}
.content-area-right {
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
}
.container-fluid>.row h2.crumb-title {
    margin-bottom: 0;
}
.page-title {
    min-height: 50px;
}
.page-title,
ul {
    margin: 0;
    list-style: none;
}
.content-crumb-div {
    margin: 5px 0 20px;
}
a {
    text-decoration: none;
}
.container-fluid .row .modal,
.page .modal {
    position: fixed;
    top: 35%;
}
#highlighted+#content.interior-page .interior-page-nav,
.interior-page .interior-page-nav {
    padding-left: 0;
}
#highlighted+#content.interior-page .interior-page-nav {
    margin-top: -4em;
}
.dynamicDiv.panel-group {
    border: 1px solid #E7E9E9;
    margin-left: 30px;
}
.panel-group {
    margin-bottom: 0;
    background-color: #fff;
}
.panel-group .panel {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
}
.panel-group .panel-heading {
    padding: 0;
    border: none;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-group .panel-heading .panel-title {
    font-size: 1.1em;
    font-family: Verlag, museo-sans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.interior-page-nav .panel-group .panel-heading .panel-title a {
    background: 0 0;
}
.panel-group .panel-heading .panel-title a {
    display: block;
    padding: 15px 45px 15px 15px;
    background: url(./image/pexels-kindel-media-8566521.jpg) 95% center no-repeat #f6f6f6;
}
span.subMenuHighlight,
ul.panel-heading li.panel-title a:hover {
    color: #ed3c95;
}
.panel-group .panel-heading .panel-title {
    font-size: 1.1em;
    font-family: Verlag, museo-sans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
ul.panel-heading {
    margin-bottom: 1px;
}
.panel-group .panel-heading .panel-title a {
    display: block;
    padding: 15px 45px 15px 15px;
    background: url(./image/pexels-kindel-media-8566521.jpg) 95% center no-repeat #f6f6f6;
}
.panel-group {
    margin-bottom: 0;
    background-color: #fff;
}
.label-default {
    background-color: #fff;
    margin-top: 10px;
}
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
}
.form-control {
    border-radius: 0;
}
.btn-primary {
    color: #fff;
    background-color: blue;
    border-color: blueviolet;
    width: 100%;
}
.btn-block {
    display: block;
}
.btn {
    padding: 8px 28px;
    font-weight: 400;
    -webkit-transition: background .3s ease-in;
    transition: background .3s ease-in;
    white-space: normal;
    border-width: 0 0 1px;
}
.content-area-right {
    margin-top: 10px;
}
@media (min-width: 992px) {
    #highlighted .container-fluid{ 
    margin-bottom:  2.5rem;
}
}